@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Orual is based on the notion Knowledge is POWER. We take this principal and apply it to all out of telementry system. We keep track of every data point
    and provide high level analysis to help you do what you do, but better. </p>
