
@{
    ViewBag.Title = "FAQ";
}

<h2>Mike Koenig FAQ</h2>

<p>It is warm today</p>


<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>


<div class="row">
    <div class="col-2">
        Column 1<br />
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary" })

    </div>
    <div class="col">
        Column 2
    </div>
</div>
<div class="row">
    Row 2
</div>

<div>
    Hi This is MIke
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-default">Home</button>
        </div>
        <div class="col-md-6">
            Column 2
        </div>
    </div>
    <div class="row">
        row 2
    </div>
</div>


