@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron shadow logo">
    <!-- Logo Image -->
    <div class="row">
        <img src="~/Content/Img/Orula_Logo.png" class="col-4 offset-4 logo-image" />
    </div>
</div>

<!-- Weird login feature -->
<div class="container" style="margin-left:-252px; margin-top:-150px; margin-bottom:200px">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <div class="text-center">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
                <input type="password" value="FakePSW" id="myInput" />
                @Html.ActionLink("Login", "Index", "Report", null, new { @class = "btn btn-block sidebar-button" })<br />
            </div>
        </div>
    </div>
</div>

<!-- Vision Section -->
<div class="container shadow page-content">
    <h2 style="text-align:center">Vision</h2>
    <div class="row">
        <div class="col-8 offset-2" style="text-align:center">
            <p>
                Orúla is designed around a simple phrase: Knowledge is Power.
                Orúla empowers mobile developement professionals with pertinent weekly reports
                on application usage and application outcomes in support of sustainability,
                improvement and growth. Orula’s customer-centric design features customizable
                reports and intuitive analysis tools to visualize data to best suit the needs
                of the user.
            </p>
        </div>
    </div>
</div>

<div class="row" style="padding-top:2em">
    <div class="col">
        <iframe src="https://www.google.com/maps/d/embed?mid=1xbOzMUJrt8Kzo2rgS5Ep-OdivEaewtHg" width="100%" height="400px" class="shadow"></iframe>
    </div>
</div>


