@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Mike Koenig</h1>
    <p class="lead">Welcome to Class Examples</p>

    <div class="row text-center">
        <div class="col">
            <img src="~/Content/Img/Shedding.jpg" height="400" />
        </div>
    </div>


    <div class="media">
        <img class="align-self-center mr-3" src="~/Content/Img/WSS.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">WSS</h5>
            <p>Best Puppies Ever</p>
            <p class="mb-0">Cool</p>
        </div>
    </div>
</div>

