@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Mike Koenig</h1>
    <p class="lead">Welcome to Class Examples</p>

    <div class="row text-center">
        <div class="col">
            <img src="~/Content/Img/Shedding.jpg" height="400" />
        </div>
    </div>
</div>

