@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <!--
    <div class="row text-center">
        <div class="col">
            <img src="~/Content/Img/Orula_Logo.gif" height="100" />
        </div>
    </div>
        -->
    <h1><img src="~/Content/Img/Orula_Logo.gif" height="50" />rúla </h1>
    <p class="lead">Knowledge is power.</p>

    <h2>Vision</h2>
    <p>
        Orúla is designed around a simple phrase: Knowledge is Power.
        Orúla empowers medical professionals with pertinent weekly reports
        on application usage and application outcomes in support of sustainability,
        improvement and growth. Orula’s customer-centric design features customizable
        reports and intuitive analysis tools to visualize data to best suit the needs
        of the user.
    </p>



    <!--
     <div class="media">
         <img class="align-self-center mr-3" src="~/Content/Img/WSS.jpg" alt="Generic placeholder image">
         <div class="media-body">
             <h5 class="mt-0">WSS</h5>
             <p>Best Puppies Ever</p>
             <p class="mb-0">Cool</p>
         </div>
     </div>
    -->

</div>

