@{
    ViewBag.Title = "Team";
}
<h2 align="center"> Team</h2>

<p>

</p>

<div class="container">
    <p style="font-size:20px;">Dr. Michael Watson</p>
    <div class="row">
        <div class="col-4 float-left img-thumbnail">
            <img src="~/Content/Img/Doctor.png" width="100%" />
        </div>
        <div class="col-8 float-right">
            <p>
                Dr. Michael Watson, after finishing a very successfully
                35 year-long medical career specializing in neonatal care, wanted
                to give back to the medical community in his retirement. The Harvard
                Medical graduate has spent the first 2 years of retirement developing a
                test strip which separates the plasma in the blood in order to test for
                neonatal jaundice. During his 35-year tenure in neonatal care, Dr. Watson
                realized neonatal healthcare disparities in western Africa because of
                insufficient medical access. His research illuminated the problem of
                undetected jaundice in newborns resulting in easily preventable deaths.
            </p>
        </div>
    </div>
</div>

    <p>

    </p>

    <div class="container">
        <p style="font-size:20px;"> Emmanuel Iwobi</p>
        <div class="row">
            <div class="col-4 float-left img-thumbnail">
                <img src="~/Content/Img/Administrator.png" width="100%" />
            </div>
            <div class="col-8 float-right">
                <p>Emmanuel Iwobi is a system administrator in Lagos, Nigeria. 
                He is 35 years old and is a father of three. Emmanuel and his wife 
                lost their youngest son after the doctors did not detect his high 
                level of jaundice. This motivated Emmanuel to go back to school 
                at the University of Lagos and earn a degree in Business 
                Administration. Emmanuel has now been a system administrator for 
                the Watson Foundation for one year and is still relatively new in 
                the field. What he lacks in on-the-job experience, he makes up for 
                in personal motivation to help the thousands of babies across Nigeria. 
                His mission is to prevent anyone else from suffering the loss of a 
                child like he did. </p>
            </div>
        </div>
    </div>