@{
    ViewBag.Title = "Team";
}
<h2 align="center"> Team</h2>

<p></p>

<div class="container">
    <div class="row">
        <div class="col-4 float-left img-thumbnail">
            <img src="~/Content/Img/Doctor.png" width="100%" />
        </div>
        <div class="col-8 float-right">
            <p>This is the description of the person pictured to the left.</p>
        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-4 float-left img-thumbnail">
            <img src="~/Content/Img/Administrator.png" width="100%" />
        </div>
        <div class="col-8 float-right">
            <p>This is the description of the person pictured to the left.</p>
        </div>
    </div>
</div>