@{
    ViewBag.Title = "Team";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="col-4 float-left">
        <img src="~/Content/Img/Orula_Logo.gif" />
    </div>
    <div class="col-8 float-right">
        <p>This is the description of the person pictured to the left.</p>
    </div>

</div>