@{
    ViewBag.Title = "Team";
}


<!--style="margin:10px; padding-top:10px; padding-bottom:20px;-->

<link href="~/Content/TeamPageStyle.css" rel="stylesheet" type="text/css" />

<div class="container page-title">
    <h1>Team</h1>
</div>
<div class="container shadow" style="padding-top:10px; padding-bottom:10px; background-color:#E4ECD8">
    <div class="row">
        <div class="col-4 float-left img-thumbnail" style="background-color: #E4ECD8">
            <img src="~/Content/Img/Doctor.png" width="100%" />
        </div>

        <div class="col-8 float-right">
            <h4 style="padding-top:10px">Dr. Michael Watson</h4>
            <p class="title">Founder</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus
                in hac habitasse platea dictumst quisque sagittis purus sit.
                Tristique senectus et netus et malesuada.
            </p>

            <a href="mailto:doctor@orula.com" target="_blank"><button class="button col-4" style="background-color:#378C72">Contact</button></a>
        </div>
    </div>
</div>


<div class="container shadow" style="margin-top:20px; padding-top:10px; padding-bottom:10px; background-color:#E4ECD8">
    <div class="row">
        <div class="col-4 float-left img-thumbnail" style="background-color: #E4ECD8">
            <img src="~/Content/Img/Administrator.png" width="100%" />

        </div>
        <div class="col-8 float-right">
            <h4 style="padding-top:10px">Emmanuel Iwobi</h4>
            <p class="title">Administrator</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Est placerat in egestas erat. Gravida dictum fusce
                ut placerat orci.
            </p>
            <a href="mailto:administrator@orula.com" target="_blank"><button class="button col-4" style="background-color:#378C72">Contact</button></a>
        </div>
    </div>
</div>
