@{
    ViewBag.Title = "Custom Report";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Title Section -->
<div class="jumbotron page-title shadow">
    <h1>@ViewBag.Title</h1>
</div>

<!-- Reports Section -->
<div class="container shadow page-content">
    <!-- Reports Navbar -->
    <div class="row report-button-row">
        <a href="~/Report/Index" class="w3-bar-item w3-button report-button">Live Report</a>
        <a href="~/Report/WeeklyReport" class="w3-bar-item w3-button report-button">Archive</a>
        <a href="mailto:administrator@orula.com" target="_blank" class="w3-bar-item w3-button report-button">Share</a>
        <a href="~/Content/Data/Weekly_Report_05-20-2019_05-25-2019.xlsx" class="w3-bar-item w3-button report-button">Export</a>
    </div>

    <form action="/action_page.php">
        Date From: <input type="date" name="dateFilter">
        Date To: <input type="date" name="dateFilter">
    </form>
    
    <!-- 1st row of Weekly Reports -->
    <div class="row custom-report">
        <div class="col-3">
            <select class="container">
                <option value="Location">Select Location</option>
                <option value="Location">Select All</option>
                <option value="Location">Lagos</option>
                <option value="Location">Abuja</option>
                <option value="Location">Calabar</option>
                <option value="Location">Kano</option>
            </select>
        </div>
        <div class="col-3 offset-1">
            <select class="container">
                <option value="Phone Model">Select Phone Model</option>
                <option value="Phone Model">Select All</option>
                <option value="Phone Model">Samsung Galaxy J5</option>
                <option value="Phone Model">Samsung Galaxy J7</option>
                <option value="Phone Model">Nokia 3.1</option>
            </select>
        </div>
        <div class="col-3 offset-1">
            <select class="container">
                <option value="OS Version">Select OS Version</option>
                <option value="OS Version">Select All</option>
                <option value="OS Version">KitKat 4.4</option>
                <option value="OS Version">JellyBean 4.3</option>
            </select>
        </div>
    </div>

    <div class="row custom-report">
        <div class="col-3">
            <select class="container">
                <option value="Action">Select Action</option>
                <option value="Action">Select All</option>
                <option value="Action">Launch</option>
                <option value="Action">Close</option>
                <option value="Action">Photo Taken</option>
                <option value="Action">Photo Retake</option>
                <option value="Action">Download</option>

            </select>
        </div>
        <div class="col-3 offset-1">
            <select class="container">
                <option value="Phone ID">Select Phone ID</option>
                <option value="Phone ID">Phone ID: 1</option>
                <option value="Phone ID">Phone ID: 2</option>
                <option value="Phone ID">Phone ID: 3</option>
                <option value="Phone ID">Phone ID: 4</option>
                <option value="Phone ID">Phone ID: 5</option>
                <option value="Phone ID">Phone ID: 6</option>
                <option value="Phone ID">Phone ID: 7</option>
                <option value="Phone ID">Phone ID: 8</option>
            </select>
        </div>
        <div class="col-3 offset-1">
            <select class="container">
                <option value="Other">Select Other</option>
            </select>
        </div>
    </div>


    <div class="row custom-report">
        <div class="col-3">
            <select class="container">
                <option value="Location">Select Other</option>
            </select>
        </div>
        <div class="col-3 offset-1">
            <select class="container">
                <option value="Other">Select Other</option>
            </select>
        </div>
        <div class="col-3 offset-1">
            <select class="container">
                <option value="Other">Select Other</option>
            </select>
        </div>
    </div>
</div>
