@{
    ViewBag.Title = "Custom Report";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Reports Section -->
<div class="container shadow" style="background-color:#FFFFFF">
    <!-- Reports Navbar -->
    <div class="row" style="background-color:#4D6A78; color:#FFFFFF">
        <a href="~/Report/CustomReport" class="w3-bar-item w3-button">Custom Report</a>
        <a href="mailto:administrator@orula.com" target="_blank" class="w3-bar-item w3-button">Share</a>
        <a href="#" class="w3-bar-item w3-button">Export</a>
    </div>

    <!-- 1st row of Weekly Reports -->
    <div class="row shadow">
        <div class="col-4">
            <select>
                <option value="Location">Select Location</option>
                <option value="Lagos">Lagos</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <select>
                <option value="Location">Select Location</option>
                <option value="Lagos">Lagos</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
    </div>
</div>
