@{
    ViewBag.Title = "Custom Report";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Reports Section -->
<div class="container shadow" style="background-color:#FFFFFF">
    <!-- Reports Navbar -->
    <div class="row" style="background-color:#4D6A78; color:#FFFFFF">
        <a href="~/Report/CustomReport" class="w3-bar-item w3-button">Custom Report</a>
        <a href="mailto:administrator@orula.com" target="_blank" class="w3-bar-item w3-button">Share</a>
        <a href="#" class="w3-bar-item w3-button">Export</a>
    </div>

    <form action="/action_page.php">
        Date From: <input type="date" name="dateFilter">
        Date To: <input type="date" name="dateFilter">
    </form>

    <!-- 1st row of Weekly Reports -->
    <div class="row customReport" style="background-color: #93C1B4">
        <div class="col-4">
            <select>
                <option value="Location">Select Location</option>
                <option value="Location">Select All</option>
                <option value="Location">Lagos</option>
                <option value="Location">Abuja</option>
                <option value="Location">Calabar</option>
                <option value="Location">Kano</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Phone Model">Select Phone Model</option>
                <option value="Phone Model">Select All</option>
                <option value="Phone Model">Samsung Galaxy J5</option>
                <option value="Phone Model">Samsung Galaxy J7</option>
                <option value="Phone Model">Nokia 3.1</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="OS Version">Select OS Version</option>
                <option value="OS Version">Select All</option>
                <option value="OS Version">KitKat 4.4</option>
                <option value="OS Version">JellyBean 4.3</option>
            </select>
        </div>
    </div>

    <div class="row customReport">
        <div class="col-4">
            <select>
                <option value="Action">Select Action</option>
                <option value="Action">Select All</option>
                <option value="Action">Launch</option>
                <option value="Action">Close</option>
                <option value="Action">Photo Taken</option>
                <option value="Action">Photo Retake</option>
                <option value="Action">Download</option>

            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Phone ID">Select Phone ID</option>
                <option value="Phone ID">Phone ID: 1</option>
                <option value="Phone ID">Phone ID: 2</option>
                <option value="Phone ID">Phone ID: 3</option>
                <option value="Phone ID">Phone ID: 4</option>
                <option value="Phone ID">Phone ID: 5</option>
                <option value="Phone ID">Phone ID: 6</option>
                <option value="Phone ID">Phone ID: 7</option>
                <option value="Phone ID">Phone ID: 8</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
    </div>

    <!--
    <div class="row" style="background-color: #93C1B4">
        <div class="col-4">
            <select>
                <option value="Location">Select Location</option>
                <option value="Lagos">Lagos</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option value="Other">Select Other</option>
            </select>
        </div>
    </div>
           -->
    <div class="row">
        <div class="col">
            <button class="button col-2" style="background-color:#4D6A78">Generate</button>
        </div>
    </div>

</div>
