@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Report";
}
<p>

</p>

<h2 align="center"> Weekly Reports</h2>

<p>

</p>

<div class="container">
    <!-- Top row of Weekly Reports -->
    <div class="row">
        <div class="col-4">

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                body {
                    font-family: Arial, Helvetica, sans-serif;
                }
            </style>

            <!-- Trigger the Modal -->
            <img id="myImg" src="~/Content/Img/Photos_Taken_By_Location.png" alt="Snow" style="width:100%; max-width:300px">

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
            
            <script>
                // Get the modal
                var modal = document.getElementById("myModal");

                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById("myImg");
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }
            </script>

            <h5 class="text-center">Photos taken at each location</h5>
        </div>
        <div class="col-4">
            <img src="~/Content/Img/Daily active users.png" class="img-thumbnail" />
            <h5 class="text-center">Daily active users</h5>
        </div>
        <div class="col-4">
            <img src="~/Content/Img/OSVersionChart.png" class="img-thumbnail" />
            <h5 class="text-center">OS Versions</h5>
        </div>
    </div>

    <!-- 2nd row of Weekly Reports -->
    <div class="row">
        <div class="col-4">
            <img src="~/Content/Img/PhoneTypeChart.png" class="img-thumbnail" />
            <h5 class="text-center">Phone Types</h5>
        </div>
        <div class="col-4">
            <img src="~/Content/Img/Photos_Taken_By_Location.png" class="img-thumbnail" />
        </div>
        <div class="col-4">
            <img src="~/Content/Img/Photos_Taken_By_Location.png" class="img-thumbnail" />
        </div>
    </div>

    <!-- Report Log Table (from Mike's sample code)
    <div class="row">
        <div class="col">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">App Version</th>
                            <th scope="col">Phone ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.LogViewModel.LogList)
                            {
                                <tr>
                                    <td>@item.RecordedDateTime.ToShortDateString()</td>
                                    <td>@item.AppVersion</td>
                                    <td>@item.PhoneID</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
        -->
</div>






