@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Weekly Reports</h2>

<div class="container">
    <!-- Top row of Weekly Reports -->
    <div class="row">
        <div class="col-4">
            <img src="~/Content/Img/Photos_Taken_By_Location.png" class="img-thumbnail" />
            <h5 class="text-center">Photos taken at each location</h5>
        </div>
        <div class="col-4">
            <img src="~/Content/Img/Daily active users.png" class="img-thumbnail" />
            <h5 class="text-center">Daily active users</h5>
        </div>
        <div class="col-4">
            <img src="~/Content/Img/OSVersionChart.png" class="img-thumbnail" />
            <h5 class="text-center">OS Versions</h5>
        </div>
    </div>

    <!-- 2nd row of Weekly Reports -->
    <div class="row">
        <div class="col-4">
            <img src="~/Content/Img/PhoneTypeChart.png" class="img-thumbnail" />
            <h5 class="text-center">Phone Types</h5>
        </div>
        <div class="col-4">
            <img src="~/Content/Img/Photos_Taken_By_Location.png" class="img-thumbnail" />
        </div>
        <div class="col-4">
            <img src="~/Content/Img/Photos_Taken_By_Location.png" class="img-thumbnail" />
        </div>
    </div>

    <!-- Report Log Table (from Mike's sample code) -->
    <div class="row">
        <div class="col">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">App Version</th>
                            <th scope="col">Phone ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.LogViewModel.LogList)
                            {
                                <tr>
                                    <td>@item.RecordedDateTime.ToShortDateString()</td>
                                    <td>@item.AppVersion</td>
                                    <td>@item.PhoneID</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <img src="~/Content/Img/PieChart1.png" class="PieChartBox" />
        </div>
    </div>
</div>

