@using HW1c.Models
@model ReportViewModel

@{

    ViewBag.Title = "Live Report";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Reports Section -->
<div class="container shadow" style="background-color:#FFFFFF">
    <!-- Reports Navbar -->
    <div class="row" style="background-color:#4D6A78; color:#FFFFFF">
        <a href="~/Report/CustomReport" class="w3-bar-item w3-button">Custom Report</a>
        <a href="mailto:administrator@orula.com" target="_blank" class="w3-bar-item w3-button">Share</a>
        <a href="#" class="w3-bar-item w3-button">Export</a>
    </div>

    <form action="/action_page.php">
        Date From: <input type="date" name="bday">
        Date To: <input type="date" name="bday">
        <input type="submit">
    </form>

    <div class="row">
        <div class="col">
            <div id="chartContainer" style="height: 650px; width: 100%;"></div>

            <script>
                window.onload = function () {

                    var chart = new CanvasJS.Chart("chartContainer", {
                        theme: "light2",
                        animationEnabled: true,
                        title: {
                            text: "Photos Per Day"
                        },
                        axisY: {
                            includeZero: false,
                            title: "Number of Photos",
                            suffix: ""
                        },
                        toolTip: {
                            shared: "true"
                        },
                        legend: {
                            cursor: "pointer",
                            itemclick: toggleDataSeries
                        },
                        data: [{
                            type: "spline",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "###",
                            name: "Total",
                            dataPoints: [
                                { label: "Monday", y: 97 },
                                { label: "Tuesday", y: 89 },
                                { label: "Wednesday", y: 92 },
                                { label: "Thursday", y: 106 },
                                { label: "Friday", y: 119 },
                                { label: "Saturday", y: 94 }
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Total Retake",
                            dataPoints: [
                                { label: "Monday", y: 12 },
                                { label: "Tuesday", y: 11 },
                                { label: "Wednesday", y: 10 },
                                { label: "Thursday", y: 12 },
                                { label: "Friday", y: 8 },
                                { label: "Saturday", y: 6 }

                            ]
                        },

                        {
                            type: "spline",
                            visible: false,
                            showInLegend: true,
                            yValueFormatString: "##",
                            name: "Lagos",
                            dataPoints: [
                                { label: "Monday", y: 40 },
                                { label: "Tuesday", y: 24 },
                                { label: "Wednesday", y: 35 },
                                { label: "Thursday", y: 29 },
                                { label: "Friday", y: 53 },
                                { label: "Saturday", y: 37 },
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Lagos Retake",
                            dataPoints: [
                                { label: "Monday", y: 6 },
                                { label: "Tuesday", y: 3 },
                                { label: "Wednesday", y: 2 },
                                { label: "Thursday", y: 1 },
                                { label: "Friday", y: 2 },
                                { label: "Saturday", y: 1 }

                            ]
                        },
                        {
                            type: "spline",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Abuja",
                            dataPoints: [
                                { label: "Monday", y: 16 },
                                { label: "Tuesday", y: 33 },
                                { label: "Wednesday", y: 20 },
                                { label: "Thursday", y: 12 },
                                { label: "Friday", y: 24 },
                                { label: "Saturday", y: 17 }

                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Abuja Retake",
                            dataPoints: [
                                { label: "Monday", y: 1 },
                                { label: "Tuesday", y: 6 },
                                { label: "Wednesday", y: 4 },
                                { label: "Thursday", y: 0 },
                                { label: "Friday", y: 3 },
                                { label: "Saturday", y: 2 }

                            ]
                        },
                        {
                            type: "spline",
                            visible: false,
                            showInLegend: true,
                            yValueFormatString: "##",
                            name: "Calabar",
                            dataPoints: [
                                { label: "Monday", y: 27 },
                                { label: "Tuesday", y: 21 },
                                { label: "Wednesday", y: 18 },
                                { label: "Thursday", y: 44 },
                                { label: "Friday", y: 35 },
                                { label: "Saturday", y: 20 }
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Calabar Retake",
                            dataPoints: [
                                { label: "Monday", y: 3 },
                                { label: "Tuesday", y: 1 },
                                { label: "Wednesday", y: 4 },
                                { label: "Thursday", y: 9 },
                                { label: "Friday", y: 3 },
                                { label: "Saturday", y: 2 }

                            ]
                        },
                        {
                            type: "spline",
                            showInLegend: true,
                            yValueFormatString: "##",
                            name: "Kano",
                            dataPoints: [
                                { label: "Monday", y: 14 },
                                { label: "Tuesday", y: 11 },
                                { label: "Wednesday", y: 19 },
                                { label: "Thursday", y: 21 },
                                { label: "Friday", y: 7 },
                                { label: "Saturday", y: 20 }
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Kano Retake",
                            dataPoints: [
                                { label: "Monday", y: 2 },
                                { label: "Tuesday", y: 1 },
                                { label: "Wednesday", y: 0 },
                                { label: "Thursday", y: 2 },
                                { label: "Friday", y: 0 },
                                { label: "Saturday", y: 1 }

                            ]
                        },

                        ]
                    });
                    chart.render();

                    function toggleDataSeries(e) {
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chart.render();
                    }
                }
            </script>

        </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>




