@using HW1c.Models;
@model LogViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Mike Koenig Report</h2>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">App Version</th>
                <th scope="col">Phone ID</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.LogList)
                {
                    <tr>
                        <td>@item.RecordedDateTime.ToShortTimeString()</td>
                        <td>@item.AppVersion</td>
                        <td>item.PhoneID</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
