@using HW1c.Models
@model ReportViewModel

@{

    ViewBag.Title = "Live Report";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Title Section -->
<div class="jumbotron page-title shadow">
    <h1>@ViewBag.Title</h1>
</div>

<!-- Reports Section -->
<div class="container shadow page-content">
    <!-- Reports Navbar -->
    <div class="row report-button">
        <a href="~/Report/CustomReport" class="w3-bar-item w3-button report-button">Custom Report</a>
        <a href="mailto:administrator@orula.com" target="_blank" class="w3-bar-item w3-button">Share</a>
        <a href="#" class="w3-bar-item w3-button">Export</a>
    </div>

    <form action="/action_page.php">
        Date From: <input type="date" name="dateFilter">
        Date To: <input type="date" name="dateFilter">
        <!--   <input type="submit">-->
    </form>

    <div class="row customReport">
        <div class="col">
            <div id="chartContainer" style="height: 400px; width: 100%;"></div>

            <script>
                window.onload = function () {

                    var chart = new CanvasJS.Chart("chartContainer", {
                        theme: "light2",
                        animationEnabled: true,
                        title: {
                            text: "Photos Per Day"
                        },
                        axisY: {
                            includeZero: false,
                            title: "Number of Photos",
                            suffix: ""
                        },
                        toolTip: {
                            shared: "true"
                        },
                        legend: {
                            cursor: "pointer",
                            itemclick: toggleDataSeries
                        },
                        data: [{
                            type: "spline",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "###",
                            name: "Total",
                            dataPoints: [
                                { label: "Monday", y: 97 },
                                { label: "Tuesday", y: 89 },
                                { label: "Wednesday", y: 92 },
                                { label: "Thursday", y: 106 },
                                { label: "Friday", y: 119 },
                                { label: "Saturday", y: 94 }
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Total Retake",
                            dataPoints: [
                                { label: "Monday", y: 12 },
                                { label: "Tuesday", y: 11 },
                                { label: "Wednesday", y: 10 },
                                { label: "Thursday", y: 12 },
                                { label: "Friday", y: 8 },
                                { label: "Saturday", y: 6 }

                            ]
                        },

                        {
                            type: "spline",
                            visible: false,
                            showInLegend: true,
                            yValueFormatString: "##",
                            name: "Lagos",
                            dataPoints: [
                                { label: "Monday", y: 40 },
                                { label: "Tuesday", y: 24 },
                                { label: "Wednesday", y: 35 },
                                { label: "Thursday", y: 29 },
                                { label: "Friday", y: 53 },
                                { label: "Saturday", y: 37 },
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Lagos Retake",
                            dataPoints: [
                                { label: "Monday", y: 6 },
                                { label: "Tuesday", y: 3 },
                                { label: "Wednesday", y: 2 },
                                { label: "Thursday", y: 1 },
                                { label: "Friday", y: 2 },
                                { label: "Saturday", y: 1 }

                            ]
                        },
                        {
                            type: "spline",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Abuja",
                            dataPoints: [
                                { label: "Monday", y: 16 },
                                { label: "Tuesday", y: 33 },
                                { label: "Wednesday", y: 20 },
                                { label: "Thursday", y: 12 },
                                { label: "Friday", y: 24 },
                                { label: "Saturday", y: 17 }

                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Abuja Retake",
                            dataPoints: [
                                { label: "Monday", y: 1 },
                                { label: "Tuesday", y: 6 },
                                { label: "Wednesday", y: 4 },
                                { label: "Thursday", y: 0 },
                                { label: "Friday", y: 3 },
                                { label: "Saturday", y: 2 }

                            ]
                        },
                        {
                            type: "spline",
                            visible: false,
                            showInLegend: true,
                            yValueFormatString: "##",
                            name: "Calabar",
                            dataPoints: [
                                { label: "Monday", y: 27 },
                                { label: "Tuesday", y: 21 },
                                { label: "Wednesday", y: 18 },
                                { label: "Thursday", y: 44 },
                                { label: "Friday", y: 35 },
                                { label: "Saturday", y: 20 }
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Calabar Retake",
                            dataPoints: [
                                { label: "Monday", y: 3 },
                                { label: "Tuesday", y: 1 },
                                { label: "Wednesday", y: 4 },
                                { label: "Thursday", y: 9 },
                                { label: "Friday", y: 3 },
                                { label: "Saturday", y: 2 }

                            ]
                        },
                        {
                            type: "spline",
                            showInLegend: true,
                            yValueFormatString: "##",
                            name: "Kano",
                            dataPoints: [
                                { label: "Monday", y: 14 },
                                { label: "Tuesday", y: 11 },
                                { label: "Wednesday", y: 19 },
                                { label: "Thursday", y: 21 },
                                { label: "Friday", y: 7 },
                                { label: "Saturday", y: 20 }
                            ]
                        },
                        {
                            type: "line",
                            lineDashType: "dash",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##",
                            name: "Kano Retake",
                            dataPoints: [
                                { label: "Monday", y: 2 },
                                { label: "Tuesday", y: 1 },
                                { label: "Wednesday", y: 0 },
                                { label: "Thursday", y: 2 },
                                { label: "Friday", y: 0 },
                                { label: "Saturday", y: 1 }

                            ]
                        },

                        ]
                    });
                    chart.render();

                    function toggleDataSeries(e) {
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chart.render();
                    }
                }
            </script>

        </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <div class="row customReport">
        <div class="col-6">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load("current", { packages: ["corechart"] });
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Task', 'Photos'],
                        ['JellyBean 4.3', 15],
                        ['KitKat 4.4', 135],
                    ]);

                    var options = {
                        title: 'OS Version',
                        pieHole: 0.4,
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                    chart.draw(data, options);
                }
            </script>
            <div id="donutchart" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="col-6">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load("current", { packages: ["corechart"] });
                google.charts.setOnLoadCallback(drawChart2);
                function drawChart2() {
                    var data2 = google.visualization.arrayToDataTable([
                        ['Task', 'Photos'],
                        ['Nokia 3.1', 15],
                        ['Samsung Galaxy J5', 85],
                        ['Samsung Galaxy J7', 50]
                    ]);

                    var options2 = {
                        title: 'Phone Model',
                        pieHole: 0.4,
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
                    chart.draw(data2, options2);
                }
            </script>
            <div id="donutchart2" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    <div class="row customReport">
        <div class="col">
            <div id="table_div"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['table'] });
                google.charts.setOnLoadCallback(drawTable);

                function drawTable() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Name');
                    data.addColumn('number', 'Salary');
                    data.addColumn('boolean', 'Full Time Employee');
                    data.addRows([
                        ['Mike', { v: 10000, f: '$10,000' }, true],
                        ['Jim', { v: 8000, f: '$8,000' }, false],
                        ['Alice', { v: 12500, f: '$12,500' }, true],
                        ['Bob', { v: 7000, f: '$7,000' }, true]
                    ]);

                    var table = new google.visualization.Table(document.getElementById('table_div'));

                    table.draw(data, { showRowNumber: true, width: '100%', height: '100%' });
                }
            </script>

        </div>
    </div>
</div>
