@{
    ViewBag.Title = "Weekly Report";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Title Section -->
<div class="jumbotron page-title shadow">
    <h1>@ViewBag.Title</h1>
</div>

<!-- Reports Section -->
<div class="container shadow page-content">
    <!-- Reports Navbar -->
    <div class="row report-button-row">
        <a href="~/Report/Index" class="w3-bar-item w3-button report-button">Live Report</a>
        <a href="~/Views/Report/WeeklyReport.cshtml" class="w3-bar-item w3-button report-button">Archive</a>
        <a href="mailto:administrator@orula.com" target="_blank" class="w3-bar-item w3-button report-button">Share</a>
        <a href="#" class="w3-bar-item w3-button report-button">Export</a>
    </div>


    <!-- Report Archive Table -->
    <table class="table">
        <tbody>
            <tr scope="row">
                <td>
                    <p>May 27th, 2019 - June 1st, 2019:</p>
                </td>
                <td>
                    <a href="~/Content/Data/Weekly report.pdf">Report</a>
                </td>
                <td>
                    <a href="~/Content/Data/Weekly Data.xlsx"> Data</a>
                </td>
            </tr>

            <tr scope="row">
                <td>
                    <p>May 27th, 2019 - June 1st, 2019:</p>
                </td>
                <td>
                    <a href="~/Content/Data/Weekly report.pdf">Report</a>
                </td>
                <td>
                    a href="~/Content/Data/Weekly Data.xlsx"> Data</a>
                </td>
            </tr>

            <tr scope="row">
                <td>
                    <p>May 27th, 2019 - June 1st, 2019:</p>
                </td>
                <td>
                    <a href="~/Content/Data/Weekly report.pdf">Report</a>
                </td>
                <td>
                    a href="~/Content/Data/Weekly Data.xlsx"> Data</a>
                </td>
            </tr>

            <tr scope="row">
                <td>
                    <p>May 27th, 2019 - June 1st, 2019:</p>
                </td>
                <td>
                    <a href="~/Content/Data/Weekly report.pdf">Report</a>
                </td>
                <td>
                    a href="~/Content/Data/Weekly Data.xlsx"> Data</a>
                </td>
            </tr>

            <tr scope="row">
                <td>
                    <p>May 27th, 2019 - June 1st, 2019:</p>
                </td>
                <td>
                    <a href="~/Content/Data/Weekly report.pdf">Report</a>
                </td>
                <td>
                    a href="~/Content/Data/Weekly Data.xlsx"> Data</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>