body {
    padding-top:-50px;
    background-color: #93C1B4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.PieChartBox{
    Height:40%;
    width:auto;
}

.sidebar {
    background-color: black;
    position: fixed;
    min-height: 100%;
}

.logo {
    background-color:#378C72;
}

.sidebar-logo {
    max-width=100%;
    max-height=100%;
}